body {
  overflow-x: hidden;
}

.slide-box,
.slide {
  padding: 60px 20px 120px;
  box-sizing: border-box;
}

.slide-wrap,
.slide__container {
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.swiper-wrapper,
.slide__list {
  display: flex;
  padding-left: calc(50vw - 600px / 2);
}

.swiper-slide,
.slide__item {
  margin-left: 30px;
  box-sizing: border-box;
}

.swiper-slide:first-of-type .slide__item:first-of-type {
  margin-left: 0;
}
h2 {
  display: block;
}
.text {
  width:100%;
  height:300px;
  background:#e9e9e9;
}
.section2,
footer {
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section2 {
  background: skyblue;
}
footer {
  background: black;
}
